name: _lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-linters:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Harden-Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Run Super-Linter
        uses: super-linter/super-linter@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2 # v8.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: ".github/linters"
          MARKDOWN_CONFIG_FILE: ".markdownlint.yml"
          YAML_CONFIG_FILE: ".yamllint.yml"
          VALIDATE_ALL_CODEBASE: false
          MULTI_STATUS: false
          VALIDATE_BIOME_FORMAT: false # TODO(lint): Consider enabling Biome formatting after testing
